.container {
	background: rgb(37, 42, 53);
	background: linear-gradient(
		337deg,
		rgba(37, 42, 53, 1) 0%,
		rgba(23, 23, 23, 1) 40%,
		rgba(23, 23, 23, 1) 50%,
		rgba(23, 23, 23, 1) 60%,
		rgba(37, 42, 53, 1) 100%
	);

	border: 5px solid rgb(70, 70, 70);
	border-radius: 2.5em;
	margin-top: 5em;
	margin-left: 2em;
	display: flex;
	flex-direction: column;
	width: 30vw;
	height: fit-content;
}

.title {
	border: 6px solid rgb(139, 139, 139);
	border-radius: 0.75em;
	display: flex;
	text-align: center;
	align-items: center;
	height: fit-content;
	width: 100%;
	font-size: 2.5vw;
	font-family: 'Pacifico', cursive;
}

.title-name {
	margin-left: 5%;
	display: flex;
	width: fit-content;
	height: auto;
}

.listening-to {
	border: 9px solid rgb(41, 41, 41);
	border-radius: 2em;
	font-family: 'Amatic SC', cursive;
	display: flex;
	height: 100%;
}

#album-art-img {
	border-radius: 1.5em;
	border: 6px solid rgb(73, 73, 73);
	width: auto;
	height: 150px;
}

.track {
	flex-direction: column;
	display: flex;
	height: auto;
	width: 100%;
}

.song-title {
	border-bottom: 5px solid rgb(73, 73, 73);
	height: 115%;
	width: 100%;
	display: flex;
}

.song-name {
	margin-left: 1em;
	font-size: 2.7em;
	align-items: center;
	display: flex;
	width: fit-content;
	height: 100%;
}

.artist {
	display: flex;
	align-items: center;
	margin-left: 1em;
	font-size: 2.5em;
	width: fit-content;
	height: 100%;
}

.not-listening {
	font-size: 1em;
	margin-bottom: 1em;
}

.tooltiptext {
	font-size: 0.6em;
	width: fit-content;
	left: 100%;
	visibility: hidden;
	color: #fff;
	text-align: center;
	padding: 5px;
	border: 1px solid white;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.song-name:hover .tooltiptext {
	visibility: visible;
}

.spotify-icon {
	margin-left: 27%;
	width: auto;
	height: 70px;
}
